.NavContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
.blogHomeItem{
  border:1px solid red;
  margin: 12px;
  cursor: pointer;
}

.blogItems{
  border:1px solid red;
  margin: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.blogItems:hover{
  background-color:aquamarine;
}

.commentSection{
  border:1px solid red;
  margin: 12px;

}
.commentsectionContainer{
  display: flex;
  flex-direction: column-reverse;
}